<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lesson 39</title>
	<style>
	</style>
	<script src="https://unpkg.com/vue@next"></script>
</head>
<body>
	<div id="root"></div>
</body>
<script>
	// watch 监听器
	const app = Vue.createApp({
		setup() {
			const { reactive, watch, watchEffect, toRefs } = Vue
			const nameObj = reactive({
				name: 'dell',
				englishName: 'lee'
			})
			// 具备一定的惰性 lazy
			// 参数可以拿到原始值和当前值
			// 可以侦听多个数据的变化，用一个侦听器承载
			watch([()=>nameObj.name, ()=>nameObj.englishName], ([curName,curEnglishName], [preName, preEnglishName]) => {
				console.log(curName, preName, '---', curEnglishName, preEnglishName)
			}, {
				immediate:true // 非惰性的配置
			})

			// 立即执行，没有惰性 immediate
			// 不需要传递你要侦听的内容，自动会感知代码依赖，不需要传递很多参数，只要传递一个回调函数
			// 不能获取之前数据的值
			const stop = watchEffect(() => {
				console.log(nameObj.name, nameObj.englishName)
				setTimeout(() => {
					stop() // 取消监听器
				}, 5000);
			})

			const { name, englishName } = toRefs(nameObj)

			return { name, englishName }
		},
		template: `
			<div>
				<div>
					Name: <input v-model="name">
				</div>
				<div>
					Name is {{name}}
				</div>
				<div>
					EnglishName: <input v-model="englishName">
				</div>
				<div>
					EnglishName is {{englishName}}
				</div>
			</div>
		`,
	});

	// vm 代表的就是 vue 应用的根组件
	const vm = app.mount('#root');
</script>
</html>